@{
    int cars    = ViewBag.StatsCarsCount   ?? 0;
    int brands  = ViewBag.StatsBrandsCount ?? 0;
    int orders  = ViewBag.StatsOrdersCount ?? 0;
}

<section class="cs-stats">
    <div class="container">
        <div class="row g-0 text-center">
            <div class="col-4 cs-stats__item">
                <div class="cs-stats__num">@cars+</div>
                <div class="cs-stats__label">Cars Listed</div>
            </div>
            <div class="col-4 cs-stats__item">
                <div class="cs-stats__num">@brands+</div>
                <div class="cs-stats__label">Brands</div>
            </div>
            <div class="col-4 cs-stats__item">
                <div class="cs-stats__num">@orders+</div>
                <div class="cs-stats__label">Happy Buyers</div>
            </div>
        </div>
    </div>
</section>
