@model IEnumerable<CarShop.Application.DTOs.Car.CarDto>

@{
    ViewData["Title"] = "Home Page";
    var brands = ViewBag.Brands as IEnumerable<CarShop.Application.DTOs.Brand.BrandDto>;
    string selectedBrand = ViewBag.SelectedBrand as string ?? "";
}

<div class="car">
    <h1>Welcome to CarShop</h1>
    <p class="lead">Your one-stop shop for premium cars</p>
</div>


<div class="container mt-4">
    <!-- Brand Filter Buttons -->
    @await Html.PartialAsync("Car/_BrandFilter", (brands!, selectedBrand))

    <!-- Car Listing -->
    <div>
        @await Html.PartialAsync("Car/_CarList.cshtml", Model)
    </div>
</div>

