@{
    ViewData["Title"] = "Access Denied";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h1 class="display-4 text-danger">403 - Access Denied</h1>
                    <p class="lead">Sorry, you don't have permission to view this page.</p>
                    <hr />
                    <p>
                        If you believe this is an error, please contact the site administrator.
                    </p>
                    @if (!string.IsNullOrEmpty(returnUrl))
                    {
                        <p><strong>You were trying to access:</strong> <em>@returnUrl</em></p>
                    }
                    <a href="javascript:history.back()" class="btn btn-outline-secondary mt-3">
                        <i class="bi bi-arrow-left"></i> Go Back
                    </a>
                    <a href="/" class="btn btn-primary mt-3 ms-2">
                        <i class="bi bi-house-door-fill"></i> Return Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
