@model CarShop.Application.DTOs.Identity.ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
}

<h3>Reset Your Password</h3>

<form asp-action="ResetPassword" method="post" class="w-50">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group mb-3">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Reset Password</button>
</form>
