@using CarShop.Web.ViewModels.Brand
@model BrandViewModel

@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/Car/_CarLayout.cshtml";
}

<h2>Edit Brand</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Brand Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="/Brand" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'success',
                text: '@TempData["SuccessMessage"]',
                position: 'top-end',
                timer: 5000,
                toast: true,
                timerProgressBar: true
            });
        </script>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '@TempData["ErrorMessage"]',
                position: 'top-end',
                timer: 5000,
                toast: true,
                timerProgressBar: true
            });
        </script>
    }

}
